@font-face {
    src: url(DIGITALDREAMNARROW.ttf);
    font-family:digital
}
html body {
    background-color:#a6511c;
}
body button {
    font-family:digital;
}
.btn img {
    height:45px;
    padding-top:3px;
    padding-bottom:3px;
}
.btn {
    background-color:#615750;
    width:100%;
    height:55px;
    outline:0;
    border:solid #a6511c 1px;
    border-radius:4px;
    font-size:2em;
}
.btn:active {
    background-color:blue;
}

#container {
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-gap:4px;
    width:350px;
    margin:10% auto;
}
#display {
    position:relative;
    left:-50%;
    font-size:2em;
    top:-50px;
    border:solid black 4px;
    border-radius:5px;
    width:21ch;
    max-width:21ch;
    text-align:right;
    padding:4px;
    overflow:hidden;
    font-family:digital;
    font-size:27px;
}
#big0 {
    width:100%;
    grid-column-start:1;
    grid-column-end:3;
}
.clr {
    widows: 100%;
    grid-column-start:1;
    grid-column-end:3;
}